body {
  font-family: monospace;
  margin: 0;
  padding: 0;
}

.header {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.main-content {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.secondary-content {
  width: 700px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.label {
  display: block;
  padding-bottom: 5px;
}

.input {
  padding: 3px;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  font-family: monospace;
  color: rgb(32, 102, 200);
  margin-bottom: 10px;
  width: 100%;
}

.input:focus {
  border: 1px solid rgb(32, 102, 200);
  transition: all 0.5s ease-in-out;
}

.btn {
  border-radius: 5px;
  border: 1px solid black;
  padding: 5;
  width: auto;
  outline: none;
  font-family: monospace;
  border: 0px;
}

.d-block {
  display: block;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: rgb(32, 102, 200);
  color: rgb(255, 255, 255);
}

.btn-success {
  background-color: rgb(32, 200, 122);
  color: rgb(255, 255, 253);
}

.btn-danger {
  background-color: rgb(209, 42, 42);
  color: rgb(255, 255, 255);
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.w-auto {
  width: auto;
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 3px
}

.mt-2 {
  margin-top: 6px
}

.mt-3 {
  margin-top: 9px
}

.me-1 {
  margin-right: 3px
}

.me-2 {
  margin-right: 6px
}

.me-3 {
  margin-right: 9px
}

.link {
  text-decoration: none;
  color: rgb(75, 83, 168);
  font-weight: bolder;
}

.link:hover {
  color: rgb(171, 54, 56);
  transition: all 1 ease-in-out;
}

.d-flex {
  display: flex;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-end {
  text-align: right;
}

.text-decoration-none {
  text-decoration: none;
}